# PostgreSQL
DATABASE_URL="postgresql://user:pass@localhost:5432/portal?schema=public"

# NextAuth
NEXTAUTH_SECRET="tvoje-super-delší-tajemství-32znaků"
NEXTAUTH_URL="http://localhost:3000"

# Future Entra ID
AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""
